[submodule "deps/antlr4"]
	path = deps/antlr4
	url = https://github.com/antlr/antlr4
[submodule "deps/Detours"]
	path = deps/Detours
	url = https://github.com/microsoft/Detours
	branch = 4.0.1
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib
	branch = master
[submodule "deps/jit-lua"]
	path = deps/jit-lua
	url = https://github.com/Pirulax/luajit-premake
	branch = master
[submodule "deps/ps4debug"]
	path = deps/ps4debug
	url = https://github.com/jogolden/ps4debug
	branch = master
[submodule ".\\deps\\ps4debug\\"]
	url = https://github.com/ate47/ps4debug
[submodule "deps/asmjit"]
	path = deps/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "deps/casclib"]
	path = deps/casclib
	url = https://github.com/ladislav-zezula/CascLib
[submodule "deps/lz4"]
	path = deps/lz4
	url = https://github.com/lz4/lz4
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/hw_break"]
	path = deps/hw_break
	url = https://github.com/ate47/hw_break
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "deps/dbflib"]
	path = deps/dbflib
	url = https://github.com/ate47/dbflib
[submodule "deps/json-rpc-cxx"]
	path = deps/json-rpc-cxx
	url = https://github.com/jsonrpcx/json-rpc-cxx
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
[submodule "deps/rapidcsv"]
	path = deps/rapidcsv
	url = https://github.com/d99kris/rapidcsv
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/thread-pool"]
	path = deps/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/tomlplusplus"]
	path = deps/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "deps/miniz-cpp"]
	path = deps/miniz-cpp
	url = https://github.com/tfussell/miniz-cpp
[submodule "deps/cordycep"]
	path = deps/cordycep
	url = https://github.com/Scobalula/Cordycep
[submodule "deps/nlohmann-json"]
	path = deps/nlohmann-json
	url = https://github.com/nlohmann/json
[submodule "deps/salsa20"]
	path = deps/salsa20
	url = https://github.com/everard/Salsa20
