[submodule "deps/antlr4"]
	path = deps/antlr4
	url = https://github.com/antlr/antlr4
[submodule "deps/Detours"]
	path = deps/Detours
	url = https://github.com/microsoft/Detours
	branch = 4.0.1
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib
	branch = master
[submodule "deps/jit-lua"]
	path = deps/jit-lua
	url = https://github.com/Pirulax/luajit-premake
	branch = master
[submodule "deps/ps4debug"]
	path = deps/ps4debug
	url = https://github.com/jogolden/ps4debug
	branch = master
[submodule ".\\deps\\ps4debug\\"]
	url = https://github.com/ate47/ps4debug
[submodule "deps/asmjit"]
	path = deps/asmjit
	url = https://github.com/asmjit/asmjit
