# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.antlr
scripts/antlr4.jar
.antlr4
*.aps

# Private stuff
src/mw23-dll/main.cpp
src/mw23-dll/main.hpp
src/mw23-dll/Main.cpp
src/mw23-dll/Main.hpp
src/acts/tools/gsc_vm/vm_private_*.cpp
# VS
/.vs/
/.vscode/
/build/

# tools files
package_index*
strings.txt
hashes.txt
brute.txt
pool.csv
linked.csv
events.csv
funcs.csv
cfuncs.csv
dataset.csv
scriptparsetree*
output*
/pool/
/poolcw/
vm_codes.db2
bgpool

# pack file
*.acpf
*.actsop
*.adlc

*.log

# compiler gsc files
*.gscc
*.gsccasm
*.cscc
*.csccasm
*.gscp
*.gscasmp
*.cscp
*.cscasmp
gfxworld.json
