
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    </style>
</head>
<body>

    <h1>Atian Tools</h1>

    <p>Atian Tools is a software developped by ate47 to manipulate different games.</p>

    <p><strong>Version</strong> {{version}}/{{build}} - (QT {{qt_version}} API {{api_version}}/{{api_build}})</p>
    <p><strong>License</strong> <a href="{{license_url}}">{{license_type}}</a></p>
    <p><strong>Github Page</strong> <a href="{{project_url}}">{{project}}</a></p>
</body>
</html>